@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;800&display=swap");

:root {
  --primary-color: #23735c;
  --font-family: "Overpass", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family) !important;
}
#home {
  background-color: #fafffd;
  height: max-content;
  padding: 2rem 0;
}
#about {
  background-color: #f1f9f7;
  padding: 2rem 0;
}
#features {
  display: flex;
  align-items: center;
  height: max-content;
  background-color: #fafffd;
  padding: 1rem 0;
}
#benefits {
  background-color: #f1f9f7;
  display: flex;
  align-items: center;
  height: max-content;
  padding: 1rem 0;
}
#student {
  background-color: #fafffd;
  padding: 1rem 0;
}
#major-prog {
  background-color: var(--primary-color);
  padding: 2rem 0;
}
#subjects {
  background-color: var(--primary-color);
  padding: 4rem 0;
}
#contact {
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 10%,
    var(--primary-color) 50%,
    white 50%,
    white 100%
  );
  padding: 2rem 0;
  padding-bottom: 5rem;
}
#footer{
    background-color: var(--primary-color);
    padding: 3rem 0;
}
/* HEADER */
.header-container {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.button {
  border-radius: 62px;
  width: 135px;
  height: 47px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
}
.login {
  color: #fff;
  background-color: var(--primary-color);
}
.signup {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
/* HOME */

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}
.img-area {
  width: 50%;
}
.hero-text {
  font-size: 80px;
  font-weight: 800;
  letter-spacing: -2px;
  color: #2d2d2d;
}
.text-area {
  width: 50%;
}
.hero-sub-text {
  font-size: 24px;
  font-weight: 400;
}
.hero-cta {
  background-color: var(--primary-color);
  color: #fff;
  width: 212px;
  height: 54px;
  font-size: 25px;
  font-weight: 500;
}

/* ABOUT */
.about-wrapper {
  text-align: center;
}
.about-text {
  padding-top: 1rem;
  font-size: 50px;
  color: var(--primary-color);
  letter-spacing: -0.04em;
  font-weight: 700;
}
.about-sub-text {
  letter-spacing: -0.03em;
  font-weight: 300;
  font-size: 22px;
  line-height: 123%;
  color: #313131;
}
.about-cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.about-card {
  width: 350px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0px 14px 45px -19px rgba(35, 115, 92, 0.38);
  border-radius: 105px;
  padding: 63px;
  margin: 10px 10px;
}
.card-text {
  font-weight: 600;
  font-size: 27px;
  text-align: center;
  color: #23735c;
  margin-top: 1.5rem;
  letter-spacing: -0.035em;
}

/* FEATURES */
.features-wrapper {
  display: flex;
  align-items: center;
}
.details-area,
.f-text-area {
  flex: 1;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.feature-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 160px;
  margin: 1rem;
  width: 200px;
  height: 160px;
  align-items: center;
}
.f-text {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #23735c;
  font-weight: 700;
}

.feature-sub-text {
  font-size: 20px;
  letter-spacing: -0.04em;
  color: #313131;
  max-width: 90%;
}
.item-det {
  font-size: 22px;
  line-height: 123%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #313131;
}
.f-img {
  width: 85px;
  height: 85px;
}
/* BENEFITS */
.b-card-area,
.b-text-area {
  flex: 1;
}
.b-sub-text {
  max-width: 80%;
}
.b-card {
  width: 250px;
  height: 300px;
  background-color: #fff;
  box-shadow: 0px 7px 46px -15px rgba(35, 115, 92, 0.31);
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.b-card-img {
  width: 90px;
  height: 90px;
}
.b-card-text {
  color: #938040;
  font-size: 24px;
  letter-spacing: -0.025em;
  font-weight: 700;
}
.b-card-det {
  font-size: 14px;
  font-weight: 400;
  max-width: 90%;
}

/* Student Benefits */
.sb-image {
  width: 350px;
  height: 350px;
}
.sb-wrapper {
  display: flex;
}
.list-number {
  color: rgba(115, 112, 35, 0.72);
  /* font-size: 65px;*/
  font-weight: 700;
}
.list-heading {
  color: var(--primary-color);
  /* font-size: 35px;*/
  font-weight: 700;
}
.list-desc {
  color: #313131;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
.b-lists-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sb-img-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}
.benifits-list-area {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.benefit-list {
  text-align: left;
  margin: 0.3rem;
}
.sb-text {
  color: #23735c;
  font-weight: 700;
  text-align: center;
}

/* MP SECTION */
.mp-img {
  width: 530px;
  height: 430px;
}
.mp-icon {
  width: 60px;
  height: 60px;
}
.mp-item {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}
.mp-item-text {
  font-size: 16px;
  color: #fff;
  margin-left: 1rem;
  line-height: 22px;
  margin-top: 1rem;
}
.mp-wrapper {
  display: flex;
}
.mp-heading {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
}
.mp-list-area {
  padding: 1rem;
}

/* SUBJECT */
.subject-card-wrapper {
  display: flex;
}
.subject-card {
  width: 380px;
  height: 660px;
  background-color: #fff;
  box-shadow: 0px 4px 40px -3px rgba(22, 68, 55, 0.23);
  border-radius: 28px;
  overflow: hidden;
  margin: 0 0.4rem;
}
.sub-details {
  color: #434343;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 19px;
}
.sub-heading {
  text-align: center;
}
/* CONTACT */
.contact-wrapper {
  background-color: #fff;
  width: 100%;
  height: 600px;
  box-shadow: 0px 13px 40px -4px rgba(79, 88, 163, 0.35);
  border-radius: 23px;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.ctn-details-area {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 20px;
  color: #fff;
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.form-area {
  height: 100%;
  flex: 1.6;
  padding: 50px;
}
.cnt-heading {
  font-size: 40px;
}
.cnt-text {
  font-size: 19px;
  color: #80C1AE;

}
.flx{
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
}
.form-items{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.label{
    color: #9395AC;
    font-size: 20px;
}
.input{
    outline:0;
    border: 0;
    border-bottom: 1px solid #B4B4B4;
    font-size: 18px;
    width: 100%;
}
::placeholder{
    color: rgba(147, 149, 172, 0.53);
}
.cnt-btn{
    float: right;
    margin-top: 1rem;
}

/* FOOTER */
.footer-items{
    display: flex;
    justify-content: space-between;
}
.social{
    text-align: right;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.logo2{
    width: 202px;
    height: 54px;
}
.hr{
    margin-top: 7rem;
}
.copyright{
    color: rgba(148, 215, 195, 0.28);
    font-size: 17px;
}
.copy-wrapper{
    display: flex;
    justify-content: space-between;
}






@media only screen and (max-width: 1200px) {
  .hero-text {
    font-size: 70px;
  }
  .about-card {
    width: 250px;
    height: 250px;
    border-radius: 80px;
    padding: 40px;
  }
  .card-text {
    font-size: 20px;
    margin-top: 1rem;
    letter-spacing: -0.035em;
  }
  .b-card-area {
    flex: 1.2;
  }
  .b-text-area {
    flex: 0.8;
  }
  .subject-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .subject-card {
    width: 220px;
    height: 360px;
    background-color: #fff;
    box-shadow: 0px 4px 40px -3px rgba(22, 68, 55, 0.23);
    border-radius: 28px;
    overflow: hidden;
    margin: 0 0.4rem;
  }
  .sub-details {
    color: #434343;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 19px;
  }
  .sub-heading {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-text {
    font-size: 66px;
  }
}

@media only screen and (max-width: 992px) {
  .hero-text {
    font-size: 50px;
  }
  .hero-sub-text {
    font-size: 18px;
  }
  .hero-cta {
    width: 130px;
    height: 38px;
    font-size: 14px;
  }
  .card-text {
    font-size: 20px;
  }
  .features-wrapper {
    flex-direction: column;
  }
  .details-area,
  .f-text-area {
    text-align: center;
  }
  .b-card-area,
  .b-sub-text {
    text-align: center;
  }
  .two-card-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .sb-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .sb-img-area {
    margin: 2rem 0;
  }
  .mp-wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .button-area {
    display: none;
  }
  .hero-wrapper {
    flex-direction: column;
    margin-top: 3rem;
  }
  .text-area {
    order: 2;
    width: 95%;
    text-align: center;
  }
  .img-area {
    order: 1;
    width: 95%;
  }
  .hero-text {
    font-size: 45px;
  }
  .hero-sub-text {
    font-size: 16px;
  }
  .about-text {
    font-size: 25px;
  }
  .about-sub-text {
    font-size: 13px;
  }
  .card-text {
    font-size: 15px;
    margin-top: 1rem;
    letter-spacing: -0.035em;
  }
  .hide {
    display: none;
  }
  .mp-list-area {
    width: 100%;
  }
  .mp-item {
    flex-direction: column;
    text-align: center;
  }
  .mp-heading {
    font-size: 23px;
    margin: 2rem 0;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .f-text {
    font-size: 23px;
  }

  .feature-sub-text {
    font-size: 13px;
  }
  .item-det {
    font-size: 15px;
  }
  .f-img {
    width: 45px;
    height: 45px;
  }
  .feature-item {
    max-width: 160px;
    margin: 1rem;
    width: 110px;
    height: 80px;
    align-items: center;
  }
  .b-lists-area {
    flex-direction: column;
  }
  .r-align {
    text-align: right;
  }
  .sb-img-area {
    align-items: center;
  }
  .mp-item-text {
    font-size: 13px;
  }
}

@media only screen and (max-width: 335px) {
  .hero-text {
    font-size: 35px;
  }
  .hero-sub-text {
    font-size: 14px;
  }
}
